<html>
    <head>
        <meta charset="utf-8">
        <title>url 입력하기</title>
    </head>
    <body>
        <div>
            <div>
                <h2>url 입력</h2>
            </div>
            <div>
                <form action='/input' method='post'>
                URL : <input type='text' name='oldURL'>
                <button type='submit'>변환하기</button>
                </form>
            </div>

            <div>
                <h4 name='url'>
                    여기에 떠야함
                </h4>

            </div>



            <div>    
                <form action='/list' method='get'>
                    <button type='submit'>변환 목록 보기</button>
                </form>
            </div>
        </div>
    </body>
</html>